* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
  color: #333;
}

h1,
h2 {
  text-align: center;
  color: inherit;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 18px;
  margin-bottom: 12px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.blog-post {
  border: 2px solid #ccc;
  padding: 10px 20px 32px;
  margin-block: 30px;
}

.blog-post__title {
  padding: 14px 18px;
  margin-bottom: 20px;
}

.blog-post__description {
  padding-block: 18px;
  margin-bottom: 14px;
}

.blog-post__img {
  margin-bottom: 10px;
}

.blog-post__link {
  margin-bottom: 18px;
}

footer > p {
  background-color: #333;
  padding: 10px 18px;
  text-align: center;
  color: #eee;
}
