* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #eee;
  color: #333;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  color: inherit;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h4 {
  color: #1c76d9;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

/*------------------ HEADER ------------------*/
header {
  padding: 24px 36px;
  background-color: #1c76d9;
  color: #eee;
}

header > div {
  background-color: #145298;
  padding: 16px 14px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  list-style: none;
}

nav .nav__link:link,
nav .nav__link:visited {
  color: inherit;
}

nav .nav__link:hover,
nav .nav__link:active {
  color: #aaa;
}

/*------------------ BODY ------------------*/
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-inline: 12px;
}

.blog-post__navigation-box {
  background-color: #ffffff;
  background-image: radial-gradient(#ddd 1px, transparent 1px);
  background-size: 20px 20px;
  border-radius: 10px;
  margin-top: 14px;
}

hr {
  margin: 20px;
}

.blog-post__navigation {
  color: #1c76d9;
  padding: 24px;
}

.blog-post__navigation h2 {
  margin-bottom: 14px;
}

.blog-post__navigation li a {
  color: inherit;
  font-weight: 600;
}

.blog-posts {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 10px;
  margin-bottom: 28px;
}

.blog-post {
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 32px 20px;
  background-color: #ffffff;
  background-image: radial-gradient(#ddd 1px, transparent 1px);
  background-size: 20px 20px;
}

.blog-post__title {
  font-size: 20px;
  color: #1c76d9;
  margin-bottom: 10px;
}

.blog-post__author,
.blog-post__date {
  font-size: 12px;
}

.blog-post__description {
  margin-block: 14px 20px;
  line-height: 1.2;
}

.blog-post__img {
  width: 50%;
  margin-bottom: 10px;
  border-radius: 10px;
}

.blog-post__link {
  font-size: 14px;
  font-weight: 600;
  color: #1c76d9;
  margin-bottom: 18px;

  a {
    text-decoration: underline;
  }
}

.blog-post li {
  font-size: 14px;
}

/*------------------ FOOTER ------------------*/
footer {
  background-color: #1c76d9;
  color: #eee;
}

footer > div {
  padding-block: 36px;
}

footer h2 {
  margin-bottom: 10px;
}

footer form {
  background-color: #ffffff;
  background-image: radial-gradient(#eee 1px, transparent 1px);
  background-size: 20px 20px;
  color: #333;
  width: 50%;
  margin: 0 auto;
  padding: 14px;
  margin-bottom: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer form > div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

footer form label {
  font-size: 14px;
}

footer form input,
footer form textarea {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

footer form input[type='submit'] {
  background-color: #333;
  color: #eee;
  font-weight: 600;
  padding: 10px 16px;
  cursor: pointer;
}

footer table {
  width: 100%;
  background-color: #ffffff;
  background-image: radial-gradient(#eee 1px, transparent 1px);
  background-size: 20px 20px;
  color: #333;
  border: 1px solid #999;
  border-radius: 4px;
  border-collapse: collapse;
  margin-bottom: 20px;
  overflow: hidden;
}

footer table th,
footer table td {
  text-align: left;
  padding: 8px;
}

footer p {
  font-size: 14px;
  background-color: #145298;
  padding: 10px 18px;
  text-align: center;
  border-radius: 10px;
}

footer p a {
  color: rgb(225, 225, 33);
}

/*--------- MEDIA QUERY ---------*/
@media screen and (max-width: 900px) {
  .blog-post__img {
    width: 100%;
  }
}
